In [67]:
import pandas as pd
import numpy as np

In [68]:
data = {
    "code": ['01620', '01620', '01620', '01620', '01992', '01992', '01992', '01992', '02210', '02210', '02210', '02210'],
    "state": ['MI', 'UT', 'CA', 'TX','MI', 'UT', 'CA', 'TX','MI', 'UT', 'CA', 'TX'],
    "ctc": [33.26, 34.35, 32.50, 33.80, 12.50, 15.30, 11.00, 300.00, 20000.00, 7.00, 10.00, 9.00],
    "tot_srvcs" : [154, 45, 120, 100, 80, 60, 70, 10, 150, 80, 120, 100]
}

In [69]:
df = pd.DataFrame(data)
df_copy = df.copy()

In [70]:
df

     code state       ctc  tot_srvcs
0   01620    MI     33.26        154
1   01620    UT     34.35         45
2   01620    CA     32.50        120
3   01620    TX     33.80        100
4   01992    MI     12.50         80
5   01992    UT     15.30         60
6   01992    CA     11.00         70
7   01992    TX    300.00         10
8   02210    MI  20000.00        150
9   02210    UT      7.00         80
10  02210    CA     10.00        120
11  02210    TX      9.00        100

In [71]:
df['y'] = np.log(1 + df['ctc'])

In [72]:
df

     code state       ctc  tot_srvcs         y
0   01620    MI     33.26        154  3.533978
1   01620    UT     34.35         45  3.565298
2   01620    CA     32.50        120  3.511545
3   01620    TX     33.80        100  3.549617
4   01992    MI     12.50         80  2.602690
5   01992    UT     15.30         60  2.791165
6   01992    CA     11.00         70  2.484907
7   01992    TX    300.00         10  5.707110
8   02210    MI  20000.00        150  9.903538
9   02210    UT      7.00         80  2.079442
10  02210    CA     10.00        120  2.397895
11  02210    TX      9.00        100  2.302585

In [73]:
code_median = df.groupby('code')['y'].median().to_frame().reset_index()
code_median

    code         y
0  01620  3.541798
1  01992  2.696927
2  02210  2.350240

In [74]:
merged_df = pd.merge(df, code_median, on='code', how='left').rename(columns={'y_x':'y', 'y_y':'c_med'})

In [75]:
merged_df

     code state       ctc  tot_srvcs         y     c_med
0   01620    MI     33.26        154  3.533978  3.541798
1   01620    UT     34.35         45  3.565298  3.541798
2   01620    CA     32.50        120  3.511545  3.541798
3   01620    TX     33.80        100  3.549617  3.541798
4   01992    MI     12.50         80  2.602690  2.696927
5   01992    UT     15.30         60  2.791165  2.696927
6   01992    CA     11.00         70  2.484907  2.696927
7   01992    TX    300.00         10  5.707110  2.696927
8   02210    MI  20000.00        150  9.903538  2.350240
9   02210    UT      7.00         80  2.079442  2.350240
10  02210    CA     10.00        120  2.397895  2.350240
11  02210    TX      9.00        100  2.302585  2.350240

In [76]:
merged_df['mad'] = abs(merged_df['y'] - merged_df['c_med'])
merged_df

     code state       ctc  tot_srvcs         y     c_med       mad
0   01620    MI     33.26        154  3.533978  3.541798  0.007819
1   01620    UT     34.35         45  3.565298  3.541798  0.023500
2   01620    CA     32.50        120  3.511545  3.541798  0.030253
3   01620    TX     33.80        100  3.549617  3.541798  0.007819
4   01992    MI     12.50         80  2.602690  2.696927  0.094238
5   01992    UT     15.30         60  2.791165  2.696927  0.094238
6   01992    CA     11.00         70  2.484907  2.696927  0.212021
7   01992    TX    300.00         10  5.707110  2.696927  3.010183
8   02210    MI  20000.00        150  9.903538  2.350240  7.553297
9   02210    UT      7.00         80  2.079442  2.350240  0.270799
10  02210    CA     10.00        120  2.397895  2.350240  0.047655
11  02210    TX      9.00        100  2.302585  2.350240  0.047655

In [58]:
mad_c = merged_df.groupby('code')['mad'].median().to_frame().reset_index()
mad_c

    code       mad
0  01620  0.015660
1  01992  0.153129
2  02210  0.159227

In [80]:
merged_df = pd.merge(merged_df, mad_c, on='code', how='left').rename(columns={'mad_x':'mad', 'mad_y':'c_mad'})
merged_df

     code state       ctc  tot_srvcs         y     c_med       mad     c_mad
0   01620    MI     33.26        154  3.533978  3.541798  0.007819  0.015660
1   01620    UT     34.35         45  3.565298  3.541798  0.023500  0.015660
2   01620    CA     32.50        120  3.511545  3.541798  0.030253  0.015660
3   01620    TX     33.80        100  3.549617  3.541798  0.007819  0.015660
4   01992    MI     12.50         80  2.602690  2.696927  0.094238  0.153129
5   01992    UT     15.30         60  2.791165  2.696927  0.094238  0.153129
6   01992    CA     11.00         70  2.484907  2.696927  0.212021  0.153129
7   01992    TX    300.00         10  5.707110  2.696927  3.010183  0.153129
8   02210    MI  20000.00        150  9.903538  2.350240  7.553297  0.159227
9   02210    UT      7.00         80  2.079442  2.350240  0.270799  0.159227
10  02210    CA     10.00        120  2.397895  2.350240  0.047655  0.159227
11  02210    TX      9.00        100  2.302585  2.350240  0.047655  0.159227

In [82]:
merged_df['z_score'] = 0.6745 * ((merged_df['y']-merged_df['c_med'])/merged_df['c_mad'])

In [83]:
merged_df

,code,state,ctc,tot_srvcs,y,c_med,mad,c_mad,z_score
0,01620,MI,33.26,154,3.533978,3.541798,0.007819,0.015660,-0.336797
1,01620,UT,34.35,45,3.565298,3.541798,0.023500,0.015660,1.012203
2,01620,CA,32.50,120,3.511545,3.541798,0.030253,0.015660,-1.303025
3,01620,TX,33.80,100,3.549617,3.541798,0.007819,0.015660,0.336797
4,01992,MI,12.50,80,2.602690,2.696927,0.094238,0.153129,-0.415096
5,01992,UT,15.30,60,2.791165,2.696927,0.094238,0.153129,0.415096
6,01992,CA,11.00,70,2.484907,2.696927,0.212021,0.153129,-0.933904
7,01992,TX,300.00,10,5.707110,2.696927,3.010183,0.153129,13.259182
8,02210,MI,20000.00,150,9.903538,2.350240,7.553297,0.159227,31.996479
9,02210,UT,7.00,80,2.079442,2.350240,0.270799,0.159227,-1.147129
10,02210,CA,10.00,120,2.397895,2.350240,0.047655,0.159227,0.201871
11,02210,TX,9.00,100,2.302585,2.350240,0.047655,0.159227,-0.201871

In [86]:
conditions = {
    "filter": [abs(merged_df['z_score']) > 3.5],
    "mappings": "Y"
}

merged_df['flagged'] = np.select(conditions["filter"], conditions["mappings"], default="N")

In [87]:
merged_df

,code,state,ctc,tot_srvcs,y,c_med,mad,c_mad,z_score,flagged
0,01620,MI,33.26,154,3.533978,3.541798,0.007819,0.015660,-0.336797,N
1,01620,UT,34.35,45,3.565298,3.541798,0.023500,0.015660,1.012203,N
2,01620,CA,32.50,120,3.511545,3.541798,0.030253,0.015660,-1.303025,N
3,01620,TX,33.80,100,3.549617,3.541798,0.007819,0.015660,0.336797,N
4,01992,MI,12.50,80,2.602690,2.696927,0.094238,0.153129,-0.415096,N
5,01992,UT,15.30,60,2.791165,2.696927,0.094238,0.153129,0.415096,N
6,01992,CA,11.00,70,2.484907,2.696927,0.212021,0.153129,-0.933904,N
7,01992,TX,300.00,10,5.707110,2.696927,3.010183,0.153129,13.259182,Y
8,02210,MI,20000.00,150,9.903538,2.350240,7.553297,0.159227,31.996479,Y
9,02210,UT,7.00,80,2.079442,2.350240,0.270799,0.159227,-1.147129,N
10,02210,CA,10.00,120,2.397895,2.350240,0.047655,0.159227,0.201871,N
11,02210,TX,9.00,100,2.302585,2.350240,0.047655,0.159227,-0.201871,N

In [88]:
merged_df['y_upper'] = merged_df['c_med'] + ((3.5 * merged_df['c_mad'])/0.6745)
merged_df['y_lower'] = merged_df['c_med'] - ((3.5 * merged_df['c_mad'])/0.6745)

In [92]:
merged_df
merged_df_copy = merged_df.copy()

merged_df

,code,state,ctc,tot_srvcs,y,c_med,mad,c_mad,z_score,flagged,y_upper,y_lower
0,01620,MI,33.26,154,3.533978,3.541798,0.007819,0.015660,-0.336797,N,3.623058,3.460538
1,01620,UT,34.35,45,3.565298,3.541798,0.023500,0.015660,1.012203,N,3.623058,3.460538
2,01620,CA,32.50,120,3.511545,3.541798,0.030253,0.015660,-1.303025,N,3.623058,3.460538
3,01620,TX,33.80,100,3.549617,3.541798,0.007819,0.015660,0.336797,N,3.623058,3.460538
4,01992,MI,12.50,80,2.602690,2.696927,0.094238,0.153129,-0.415096,N,3.491519,1.902335
5,01992,UT,15.30,60,2.791165,2.696927,0.094238,0.153129,0.415096,N,3.491519,1.902335
6,01992,CA,11.00,70,2.484907,2.696927,0.212021,0.153129,-0.933904,N,3.491519,1.902335
7,01992,TX,300.00,10,5.707110,2.696927,3.010183,0.153129,13.259182,Y,3.491519,1.902335
8,02210,MI,20000.00,150,9.903538,2.350240,7.553297,0.159227,31.996479,Y,3.176473,1.524007
9,02210,UT,7.00,80,2.079442,2.350240,0.270799,0.159227,-1.147129,N,3.176473,1.524007
10,02210,CA,10.00,120,2.397895,2.350240,0.047655,0.159227,0.201871,N,3.176473,1.524007
11,02210,TX,9.00,100,2.302585,2.350240,0.047655,0.159227,-0.201871,N,3.176473,1.524007

In [95]:
merged_df.loc[(merged_df['flagged'] == 'Y') & (merged_df['y'] > merged_df['y_upper']), 'final_y'] = merged_df['y_upper']
merged_df.loc[(merged_df['flagged'] == 'Y') & (merged_df['y'] < merged_df['y_lower']), 'final_y'] = merged_df['y_lower']
merged_df.loc[merged_df['flagged'] == 'N', 'final_y'] = merged_df['y']

In [96]:
merged_df

,code,state,ctc,tot_srvcs,y,c_med,mad,c_mad,z_score,flagged,y_upper,y_lower,final_y
0,01620,MI,33.26,154,3.533978,3.541798,0.007819,0.015660,-0.336797,N,3.623058,3.460538,3.533978
1,01620,UT,34.35,45,3.565298,3.541798,0.023500,0.015660,1.012203,N,3.623058,3.460538,3.565298
2,01620,CA,32.50,120,3.511545,3.541798,0.030253,0.015660,-1.303025,N,3.623058,3.460538,3.511545
3,01620,TX,33.80,100,3.549617,3.541798,0.007819,0.015660,0.336797,N,3.623058,3.460538,3.549617
4,01992,MI,12.50,80,2.602690,2.696927,0.094238,0.153129,-0.415096,N,3.491519,1.902335,2.602690
5,01992,UT,15.30,60,2.791165,2.696927,0.094238,0.153129,0.415096,N,3.491519,1.902335,2.791165
6,01992,CA,11.00,70,2.484907,2.696927,0.212021,0.153129,-0.933904,N,3.491519,1.902335,2.484907
7,01992,TX,300.00,10,5.707110,2.696927,3.010183,0.153129,13.259182,Y,3.491519,1.902335,3.491519
8,02210,MI,20000.00,150,9.903538,2.350240,7.553297,0.159227,31.996479,Y,3.176473,1.524007,3.176473
9,02210,UT,7.00,80,2.079442,2.350240,0.270799,0.159227,-1.147129,N,3.176473,1.524007,2.079442
10,02210,CA,10.00,120,2.397895,2.350240,0.047655,0.159227,0.201871,N,3.176473,1.524007,2.397895
11,02210,TX,9.00,100,2.302585,2.350240,0.047655,0.159227,-0.201871,N,3.176473,1.524007,2.302585

In [97]:
merged_df['final_ctc'] = np.exp(merged_df['final_y']) - 1
merged_df

,code,state,ctc,tot_srvcs,y,c_med,mad,c_mad,z_score,flagged,y_upper,y_lower,final_y,final_ctc
0,01620,MI,33.26,154,3.533978,3.541798,0.007819,0.015660,-0.336797,N,3.623058,3.460538,3.533978,33.26000
1,01620,UT,34.35,45,3.565298,3.541798,0.023500,0.015660,1.012203,N,3.623058,3.460538,3.565298,34.35000
2,01620,CA,32.50,120,3.511545,3.541798,0.030253,0.015660,-1.303025,N,3.623058,3.460538,3.511545,32.50000
3,01620,TX,33.80,100,3.549617,3.541798,0.007819,0.015660,0.336797,N,3.623058,3.460538,3.549617,33.80000
4,01992,MI,12.50,80,2.602690,2.696927,0.094238,0.153129,-0.415096,N,3.491519,1.902335,2.602690,12.50000
5,01992,UT,15.30,60,2.791165,2.696927,0.094238,0.153129,0.415096,N,3.491519,1.902335,2.791165,15.30000
6,01992,CA,11.00,70,2.484907,2.696927,0.212021,0.153129,-0.933904,N,3.491519,1.902335,2.484907,11.00000
7,01992,TX,300.00,10,5.707110,2.696927,3.010183,0.153129,13.259182,Y,3.491519,1.902335,3.491519,31.83580
8,02210,MI,20000.00,150,9.903538,2.350240,7.553297,0.159227,31.996479,Y,3.176473,1.524007,3.176473,22.96209
9,02210,UT,7.00,80,2.079442,2.350240,0.270799,0.159227,-1.147129,N,3.176473,1.524007,2.079442,7.00000
10,02210,CA,10.00,120,2.397895,2.350240,0.047655,0.159227,0.201871,N,3.176473,1.524007,2.397895,10.00000
11,02210,TX,9.00,100,2.302585,2.350240,0.047655,0.159227,-0.201871,N,3.176473,1.524007,2.302585,9.00000