In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("lifestyle_final_data.csv")

In [3]:
df.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,2139.59,0.500432,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium
1,23.37,Female,56.41,1.55,179.43,131.75,73.18,1.37,1809.91,HIIT,...,1711.65,0.500850,1.514093,0.551247,0.734270,-232.91,40.809803,978.6184,1.020506e+20,High
2,33.20,Female,58.98,1.67,175.04,123.95,54.96,0.91,802.26,Cardio,...,1965.92,0.500610,1.663445,0.574534,0.708124,805.74,44.635580,654.5266,1.079607e+20,High
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,1627.28,0.499533,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High
4,45.09,Male,52.42,1.88,193.58,152.88,70.84,1.08,1166.40,Strength,...,2659.23,0.500581,2.538153,0.668405,0.789751,303.60,43.347504,711.4176,5.264685e+19,Low

In [4]:
df.shape

(20000, 54)

In [5]:
df.columns.to_list()

['Age',
 'Gender',
 'Weight (kg)',
 'Height (m)',
 'Max_BPM',
 'Avg_BPM',
 'Resting_BPM',
 'Session_Duration (hours)',
 'Calories_Burned',
 'Workout_Type',
 'Fat_Percentage',
 'Water_Intake (liters)',
 'Workout_Frequency (days/week)',
 'Experience_Level',
 'BMI',
 'Daily meals frequency',
 'Physical exercise',
 'Carbs',
 'Proteins',
 'Fats',
 'Calories',
 'meal_name',
 'meal_type',
 'diet_type',
 'sugar_g',
 'sodium_mg',
 'cholesterol_mg',
 'serving_size_g',
 'cooking_method',
 'prep_time_min',
 'cook_time_min',
 'rating',
 'Name of Exercise',
 'Sets',
 'Reps',
 'Benefit',
 'Burns Calories (per 30 min)',
 'Target Muscle Group',
 'Equipment Needed',
 'Difficulty Level',
 'Body Part',
 'Type of Muscle',
 'Workout',
 'BMI_calc',
 'cal_from_macros',
 'pct_carbs',
 'protein_per_kg',
 'pct_HRR',
 'pct_maxHR',
 'cal_balance',
 'lean_mass_kg',
 'expected_burn',
 'Burns Calories (per 30 min)_bc',
 'Burns_Calories_Bin']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             20000 non-null  float64
 1   Gender                          20000 non-null  object
 2   Weight (kg)                     20000 non-null  float64
 3   Height (m)                      20000 non-null  float64
 4   Max_BPM                         20000 non-null  float64
 5   Avg_BPM                         20000 non-null  float64
 6   Resting_BPM                     20000 non-null  float64
 7   Session_Duration (hours)        20000 non-null  float64
 8   Calories_Burned                 20000 non-null  float64
 9   Workout_Type                    20000 non-null  object
 10  Fat_Percentage                  20000 non-null  float64
 11  Water_Intake (liters)           20000 non-null  float64
 12  Workout_Frequency (days/week)   20000 non-null  float64
 13  Experience_Level                20000 non-null  float64
 14  BMI                             20000 non-null  float64
 15  Daily meals frequency           20000 non-null  float64
 16  Physical exercise               20000 non-null  float64
 17  Carbs                           20000 non-null  float64
 18  Proteins                        20000 non-null  float64
 19  Fats                            20000 non-null  float64
 20  Calories                        20000 non-null  float64
 21  meal_name                       20000 non-null  object
 22  meal_type                       20000 non-null  object
 23  diet_type                       20000 non-null  object
 24  sugar_g                         20000 non-null  float64
 25  sodium_mg                       20000 non-null  float64
 26  cholesterol_mg                  20000 non-null  float64
 27  serving_size_g                  20000 non-null  float64
 28  cooking_method                  20000 non-null  object
 29  prep_time_min                   20000 non-null  float64
 30  cook_time_min                   20000 non-null  float64
 31  rating                          20000 non-null  float64
 32  Name of Exercise                20000 non-null  object
 33  Sets                            20000 non-null  float64
 34  Reps                            20000 non-null  float64
 35  Benefit                         20000 non-null  object
 36  Burns Calories (per 30 min)     20000 non-null  float64
 37  Target Muscle Group             20000 non-null  object
 38  Equipment Needed                20000 non-null  object
 39  Difficulty Level                20000 non-null  object
 40  Body Part                       20000 non-null  object
 41  Type of Muscle                  20000 non-null  object
 42  Workout                         20000 non-null  object
 43  BMI_calc                        20000 non-null  float64
 44  cal_from_macros                 20000 non-null  float64
 45  pct_carbs                       20000 non-null  float64
 46  protein_per_kg                  20000 non-null  float64
 47  pct_HRR                         20000 non-null  float64
 48  pct_maxHR                       20000 non-null  float64
 49  cal_balance                     20000 non-null  float64
 50  lean_mass_kg                    20000 non-null  float64
 51  expected_burn                   20000 non-null  float64
 52  Burns Calories (per 30 min)_bc  20000 non-null  float64
 53  Burns_Calories_Bin              20000 non-null  object
dtypes: float64(39), object(15)
memory usage: 8.2+ MB

In [7]:
df['Workout_Type'].value_counts().to_frame().reset_index()

  Workout_Type  count
0     Strength   5071
1         Yoga   5032
2         HIIT   4974
3       Cardio   4923

In [8]:
df['Target Muscle Group'].value_counts().to_frame().reset_index()

               Target Muscle Group  count
0                   Chest, Triceps    602
1                 Biceps, Forearms    598
2             Upper Chest, Triceps    593
3        Upper Back, Rear Deltoids    593
4         Glutes, Hamstrings, Core    587
5                   Core, Obliques    582
6                        Shoulders    581
7                       Quadriceps    580
8           Lower Abs, Hip Flexors    580
9       Full Body, Core, Shoulders    578
10              Lower Back, Glutes    577
11  Quadriceps, Hamstrings, Glutes    571
12           Legs, Shoulders, Core    569
13              Glutes, Hamstrings    569
14                  Obliques, Core    565
15                Core, Lower Back    561
16                       Full Core    560
17                      Legs, Core    559
18            Lower Chest, Triceps    557
19           Back, Core, Shoulders    553
20              Quadriceps, Glutes    553
21                            Core    551
22           Shoulders, Upper Back    549
23           Core, Shoulders, Legs    546
24                    Back, Biceps    544
25           Core, Shoulders, Hips    541
26                  Triceps, Chest    537
27                          Calves    534
28       Rear Deltoids, Upper Back    528
29                       Full Body    526
30              Shoulders, Triceps    526
31                       Lower Abs    523
32                         Triceps    521
33        Back, Hamstrings, Glutes    512
34       Chest, Triceps, Shoulders    504
35      Quadriceps, Calves, Glutes    490

In [9]:
df['Name of Exercise'].value_counts().to_frame().reset_index()

               Name of Exercise  count
0                 Flutter Kicks    412
1                      Deadlift    406
2                        Squats    403
3                     Dead Bugs    392
4                          Dips    391
5              Incline Push-ups    386
6              Bicycle Crunches    385
7                         Plank    385
8        Bulgarian Split Squats    384
9                  Dragon Flags    383
10                    Thrusters    377
11               Scissors Kicks    376
12                  Calf Raises    375
13                   Face Pulls    373
14                Zottman Curls    372
15               Reverse Lunges    372
16                       Lunges    370
17            Mountain Climbers    370
18                  Bear Crawls    369
19               Lateral Raises    369
20                  Bench Press    368
21                   Frog Jumps    367
22                      Burpees    367
23                     Push Ups    367
24                Lat Pulldowns    367
25                Jumping Jacks    366
26                     Push-ups    364
27                Pistol Squats    363
28                    Leg Press    363
29                   Leg Raises    362
30                     Step-ups    362
31            Kettlebell Swings    359
32                  Tricep Dips    359
33                  Plyo Squats    359
34  Resistance Band Pull-Aparts    358
35             Decline Push-ups    357
36                     Superman    357
37              Turkish Get-ups    355
38            Tricep Extensions    354
39               Russian Twists    352
40                Glute Bridges    352
41                     Pull-ups    350
42                 Prone Cobras    348
43                Renegade Rows    348
44                         Rows    345
45                  Wall Angels    345
46                    Deadlifts    342
47               Shoulder Press    342
48                    Box Jumps    341
49                Inverted Rows    340
50                  Bicep Curls    338
51                    Bird Dogs    337
52          Plyometric Push-ups    333
53            Windshield Wipers    332
54                  Seated Rows    331

In [10]:
age_filter = df['Age'] < 20

In [11]:
lt_20_df = df[age_filter]
gt_20_df = df[~age_filter]

In [12]:
lt_20_df['Age'].agg(['min', 'max'])

min    18.00
max    19.99
Name: Age, dtype: float64

In [13]:
gt_20_df['Age'].agg(['min', 'max'])

min    20.00
max    59.67
Name: Age, dtype: float64

In [14]:
lt_20_df.shape

(1254, 54)

In [15]:
gt_20_df.shape

(18746, 54)

In [16]:
df['Gender'].value_counts()

Gender
Female    10028
Male       9972
Name: count, dtype: int64

In [17]:
male_filter = df['Gender'] == 'Male'

In [18]:
male_df = df[male_filter]
female_df = df[~male_filter]

In [19]:
male_df['Gender'].value_counts()

Gender
Male    9972
Name: count, dtype: int64

In [20]:
female_df['Gender'].value_counts()

Gender
Female    10028
Name: count, dtype: int64

In [21]:
# How to add a custom column in an existing dataframe
gender_distribution_df = df['Gender'].value_counts().to_frame().reset_index()

In [22]:
gender_distribution_df

   Gender  count
0  Female  10028
1    Male   9972

In [23]:
# Adding a custom column called percentage
gender_distribution_df['percentage'] = (gender_distribution_df['count']/20000) * 100.0
gender_distribution_df

   Gender  count  percentage
0  Female  10028       50.14
1    Male   9972       49.86

In [24]:
# Create a filter for Male Percentage
gender_filter = gender_distribution_df['Gender'] == 'Male'

# View the percentage column
gender_distribution_df[gender_filter]['percentage']

1    49.86
Name: percentage, dtype: float64

In [25]:
exercise_prop_df = df['Name of Exercise'].value_counts().to_frame().reset_index()

In [26]:
exercise_prop_df

               Name of Exercise  count
0                 Flutter Kicks    412
1                      Deadlift    406
2                        Squats    403
3                     Dead Bugs    392
4                          Dips    391
5              Incline Push-ups    386
6              Bicycle Crunches    385
7                         Plank    385
8        Bulgarian Split Squats    384
9                  Dragon Flags    383
10                    Thrusters    377
11               Scissors Kicks    376
12                  Calf Raises    375
13                   Face Pulls    373
14                Zottman Curls    372
15               Reverse Lunges    372
16                       Lunges    370
17            Mountain Climbers    370
18                  Bear Crawls    369
19               Lateral Raises    369
20                  Bench Press    368
21                   Frog Jumps    367
22                      Burpees    367
23                     Push Ups    367
24                Lat Pulldowns    367
25                Jumping Jacks    366
26                     Push-ups    364
27                Pistol Squats    363
28                    Leg Press    363
29                   Leg Raises    362
30                     Step-ups    362
31            Kettlebell Swings    359
32                  Tricep Dips    359
33                  Plyo Squats    359
34  Resistance Band Pull-Aparts    358
35             Decline Push-ups    357
36                     Superman    357
37              Turkish Get-ups    355
38            Tricep Extensions    354
39               Russian Twists    352
40                Glute Bridges    352
41                     Pull-ups    350
42                 Prone Cobras    348
43                Renegade Rows    348
44                         Rows    345
45                  Wall Angels    345
46                    Deadlifts    342
47               Shoulder Press    342
48                    Box Jumps    341
49                Inverted Rows    340
50                  Bicep Curls    338
51                    Bird Dogs    337
52          Plyometric Push-ups    333
53            Windshield Wipers    332
54                  Seated Rows    331

In [27]:
exercise_prop_df['percentage'] = (exercise_prop_df['count']/20000)*100.0

In [28]:
exercise_prop_df

               Name of Exercise  count  percentage
0                 Flutter Kicks    412       2.060
1                      Deadlift    406       2.030
2                        Squats    403       2.015
3                     Dead Bugs    392       1.960
4                          Dips    391       1.955
5              Incline Push-ups    386       1.930
6              Bicycle Crunches    385       1.925
7                         Plank    385       1.925
8        Bulgarian Split Squats    384       1.920
9                  Dragon Flags    383       1.915
10                    Thrusters    377       1.885
11               Scissors Kicks    376       1.880
12                  Calf Raises    375       1.875
13                   Face Pulls    373       1.865
14                Zottman Curls    372       1.860
15               Reverse Lunges    372       1.860
16                       Lunges    370       1.850
17            Mountain Climbers    370       1.850
18                  Bear Crawls    369       1.845
19               Lateral Raises    369       1.845
20                  Bench Press    368       1.840
21                   Frog Jumps    367       1.835
22                      Burpees    367       1.835
23                     Push Ups    367       1.835
24                Lat Pulldowns    367       1.835
25                Jumping Jacks    366       1.830
26                     Push-ups    364       1.820
27                Pistol Squats    363       1.815
28                    Leg Press    363       1.815
29                   Leg Raises    362       1.810
30                     Step-ups    362       1.810
31            Kettlebell Swings    359       1.795
32                  Tricep Dips    359       1.795
33                  Plyo Squats    359       1.795
34  Resistance Band Pull-Aparts    358       1.790
35             Decline Push-ups    357       1.785
36                     Superman    357       1.785
37              Turkish Get-ups    355       1.775
38            Tricep Extensions    354       1.770
39               Russian Twists    352       1.760
40                Glute Bridges    352       1.760
41                     Pull-ups    350       1.750
42                 Prone Cobras    348       1.740
43                Renegade Rows    348       1.740
44                         Rows    345       1.725
45                  Wall Angels    345       1.725
46                    Deadlifts    342       1.710
47               Shoulder Press    342       1.710
48                    Box Jumps    341       1.705
49                Inverted Rows    340       1.700
50                  Bicep Curls    338       1.690
51                    Bird Dogs    337       1.685
52          Plyometric Push-ups    333       1.665
53            Windshield Wipers    332       1.660
54                  Seated Rows    331       1.655

In [29]:
exercise_prop_df['percentage'].sum()

np.float64(100.00000000000001)

In [30]:
df['Name of Exercise'].value_counts(normalize=True)

Name of Exercise
Flutter Kicks                  0.02060
Deadlift                       0.02030
Squats                         0.02015
Dead Bugs                      0.01960
Dips                           0.01955
Incline Push-ups               0.01930
Bicycle Crunches               0.01925
Plank                          0.01925
Bulgarian Split Squats         0.01920
Dragon Flags                   0.01915
Thrusters                      0.01885
Scissors Kicks                 0.01880
Calf Raises                    0.01875
Face Pulls                     0.01865
Zottman Curls                  0.01860
Reverse Lunges                 0.01860
Lunges                         0.01850
Mountain Climbers              0.01850
Bear Crawls                    0.01845
Lateral Raises                 0.01845
Bench Press                    0.01840
Frog Jumps                     0.01835
Burpees                        0.01835
Push Ups                       0.01835
Lat Pulldowns                  0.01835
Jumping Jacks                  0.01830
Push-ups                       0.01820
Pistol Squats                  0.01815
Leg Press                      0.01815
Leg Raises                     0.01810
Step-ups                       0.01810
Kettlebell Swings              0.01795
Tricep Dips                    0.01795
Plyo Squats                    0.01795
Resistance Band Pull-Aparts    0.01790
Decline Push-ups               0.01785
Superman                       0.01785
Turkish Get-ups                0.01775
Tricep Extensions              0.01770
Russian Twists                 0.01760
Glute Bridges                  0.01760
Pull-ups                       0.01750
Prone Cobras                   0.01740
Renegade Rows                  0.01740
Rows                           0.01725
Wall Angels                    0.01725
Deadlifts                      0.01710
Shoulder Press                 0.01710
Box Jumps                      0.01705
Inverted Rows                  0.01700
Bicep Curls                    0.01690
Bird Dogs                      0.01685
Plyometric Push-ups            0.01665
Windshield Wipers              0.01660
Seated Rows                    0.01655
Name: proportion, dtype: float64

In [31]:
df['BMI']

0        24.87
1        23.48
2        21.15
3        32.45
4        14.83
         ...
19995    27.23
19996    25.20
19997    16.57
19998    16.88
19999    22.62
Name: BMI, Length: 20000, dtype: float64

In [32]:
# Adding a new categorical column based on value of a numerical column
conditions = [
    (df['BMI'] < 18.5),
    (df['BMI'] >= 18.5) & (df['BMI'] < 25),
    (df['BMI'] >= 25) & (df['BMI'] < 30),
    (df['BMI'] >= 30)
]

mappings = ['underweight', 'healthy', 'overweight', 'obese']

In [33]:
import numpy as np

In [34]:
df['bmi_indicator'] = np.select(conditions, mappings, default='unknown')

In [35]:
df[['BMI', 'bmi_indicator']].head()

     BMI bmi_indicator
0  24.87       healthy
1  23.48       healthy
2  21.15       healthy
3  32.45         obese
4  14.83   underweight

In [36]:
df['bmi_indicator'].value_counts().to_frame().reset_index()

  bmi_indicator  count
0       healthy   7705
1    overweight   4957
2         obese   3945
3   underweight   3393

In [37]:
# Categorizing adult or child
conditions = [
    (df['Age'] < 21),
    (df['Age'] >= 21)
]

mappings = ['Child', 'Adult']

In [38]:
df['age_group'] = np.select(conditions, mappings, default='unknown')

In [39]:
df[['Age', 'age_group']].head()

     Age age_group
0  34.91     Adult
1  23.37     Adult
2  33.20     Adult
3  38.69     Adult
4  45.09     Adult

In [40]:
age_group_df = df['age_group'].value_counts().to_frame().reset_index()

In [41]:
age_group_df['percentage'] = (age_group_df['count']/20000) * 100.0

In [42]:
age_group_df

  age_group  count  percentage
0     Adult  18311      91.555
1     Child   1689       8.445

In [43]:
# Bivariate Analysis
df.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin,bmi_indicator,age_group
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium,healthy,Adult
1,23.37,Female,56.41,1.55,179.43,131.75,73.18,1.37,1809.91,HIIT,...,1.514093,0.551247,0.734270,-232.91,40.809803,978.6184,1.020506e+20,High,healthy,Adult
2,33.20,Female,58.98,1.67,175.04,123.95,54.96,0.91,802.26,Cardio,...,1.663445,0.574534,0.708124,805.74,44.635580,654.5266,1.079607e+20,High,healthy,Adult
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High,obese,Adult
4,45.09,Male,52.42,1.88,193.58,152.88,70.84,1.08,1166.40,Strength,...,2.538153,0.668405,0.789751,303.60,43.347504,711.4176,5.264685e+19,Low,underweight,Adult

In [44]:
df.columns.to_list()

['Age',
 'Gender',
 'Weight (kg)',
 'Height (m)',
 'Max_BPM',
 'Avg_BPM',
 'Resting_BPM',
 'Session_Duration (hours)',
 'Calories_Burned',
 'Workout_Type',
 'Fat_Percentage',
 'Water_Intake (liters)',
 'Workout_Frequency (days/week)',
 'Experience_Level',
 'BMI',
 'Daily meals frequency',
 'Physical exercise',
 'Carbs',
 'Proteins',
 'Fats',
 'Calories',
 'meal_name',
 'meal_type',
 'diet_type',
 'sugar_g',
 'sodium_mg',
 'cholesterol_mg',
 'serving_size_g',
 'cooking_method',
 'prep_time_min',
 'cook_time_min',
 'rating',
 'Name of Exercise',
 'Sets',
 'Reps',
 'Benefit',
 'Burns Calories (per 30 min)',
 'Target Muscle Group',
 'Equipment Needed',
 'Difficulty Level',
 'Body Part',
 'Type of Muscle',
 'Workout',
 'BMI_calc',
 'cal_from_macros',
 'pct_carbs',
 'protein_per_kg',
 'pct_HRR',
 'pct_maxHR',
 'cal_balance',
 'lean_mass_kg',
 'expected_burn',
 'Burns Calories (per 30 min)_bc',
 'Burns_Calories_Bin',
 'bmi_indicator',
 'age_group']

In [45]:
df.groupby('Gender')['Height (m)'].agg(['mean', 'median', 'max', 'min']).reset_index()

   Gender      mean  median   max   min
0  Female  1.724006    1.71  2.01  1.49
1    Male  1.722176    1.71  2.01  1.49

In [46]:
df.groupby('Session_Duration (hours)')['Calories_Burned'].mean().to_frame().reset_index()

     Session_Duration (hours)  Calories_Burned
0                        0.49       439.131429
1                        0.50       492.800000
2                        0.51       472.039048
3                        0.52       488.177015
4                        0.53       490.544792
..                        ...              ...
149                      1.98      2134.774018
150                      1.99      2211.693171
151                      2.00      2353.933333
152                      2.01      2126.435714
153                      2.02      2890.820000

[154 rows x 2 columns]

In [47]:
calories_duration_df = df.groupby('Session_Duration (hours)')['Calories_Burned'].mean().to_frame().reset_index()

In [48]:
calories_duration_df.sort_values(by='Calories_Burned', ascending=False)

     Session_Duration (hours)  Calories_Burned
153                      2.02      2890.820000
151                      2.00      2353.933333
150                      1.99      2211.693171
148                      1.97      2194.734706
141                      1.90      2162.072466
..                        ...              ...
1                        0.50       492.800000
4                        0.53       490.544792
3                        0.52       488.177015
2                        0.51       472.039048
0                        0.49       439.131429

[154 rows x 2 columns]

In [49]:
 # 'Calories_Burned' and 'Workout_Type'

In [50]:
workout_calories = df.groupby('Workout_Type')['Calories_Burned'].mean().to_frame().reset_index()

In [51]:
workout_calories.sort_values(by='Calories_Burned', ascending=False)

  Workout_Type  Calories_Burned
1         HIIT      1652.533209
2     Strength      1361.430459
0       Cardio      1211.544680
3         Yoga       897.107216

In [52]:
# Workout_Frequency (days/week) and Experience_Level
# Calories and cooking_method

In [53]:
experience_workout = df.groupby('Experience_Level')['Workout_Frequency (days/week)'].mean().to_frame().reset_index()

In [54]:
experience_workout.sort_values(by='Workout_Frequency (days/week)', ascending=False)

    Experience_Level  Workout_Frequency (days/week)
20              2.94                       4.990000
31              3.05                       4.598000
29              3.03                       4.579275
23              2.97                       4.576458
26              3.00                       4.560552
28              3.02                       4.539052
27              3.01                       4.524165
30              3.04                       4.523448
21              2.95                       4.520000
24              2.98                       4.510587
25              2.99                       4.505423
22              2.96                       4.430571
19              2.06                       3.990000
18              2.05                       3.757778
7               1.94                       3.663333
15              2.02                       3.563564
9               1.96                       3.558571
16              2.03                       3.556000
8               1.95                       3.555556
10              1.97                       3.544092
14              2.01                       3.534506
13              2.00                       3.533429
12              1.99                       3.519195
11              1.98                       3.518344
17              2.04                       3.367193
5               1.05                       2.540000
2               1.02                       2.506528
1               1.01                       2.478226
0               1.00                       2.474897
3               1.03                       2.448540
4               1.04                       2.433396
6               1.06                       1.960000

In [55]:
cooking_calories = df.groupby('cooking_method')[['Calories', 'cholesterol_mg']].mean().reset_index()

In [56]:
cooking_calories.sort_values(by='Calories', ascending=False)

  cooking_method     Calories  cholesterol_mg
0          Baked  2038.216390      149.744599
6        Steamed  2035.336871      148.625782
1         Boiled  2031.236285      147.658297
4            Raw  2027.541911      148.297585
3        Grilled  2020.325433      147.829278
2          Fried  2014.114819      146.929921
5        Roasted  2003.021955      150.084841

In [57]:
df.columns.to_list()

['Age',
 'Gender',
 'Weight (kg)',
 'Height (m)',
 'Max_BPM',
 'Avg_BPM',
 'Resting_BPM',
 'Session_Duration (hours)',
 'Calories_Burned',
 'Workout_Type',
 'Fat_Percentage',
 'Water_Intake (liters)',
 'Workout_Frequency (days/week)',
 'Experience_Level',
 'BMI',
 'Daily meals frequency',
 'Physical exercise',
 'Carbs',
 'Proteins',
 'Fats',
 'Calories',
 'meal_name',
 'meal_type',
 'diet_type',
 'sugar_g',
 'sodium_mg',
 'cholesterol_mg',
 'serving_size_g',
 'cooking_method',
 'prep_time_min',
 'cook_time_min',
 'rating',
 'Name of Exercise',
 'Sets',
 'Reps',
 'Benefit',
 'Burns Calories (per 30 min)',
 'Target Muscle Group',
 'Equipment Needed',
 'Difficulty Level',
 'Body Part',
 'Type of Muscle',
 'Workout',
 'BMI_calc',
 'cal_from_macros',
 'pct_carbs',
 'protein_per_kg',
 'pct_HRR',
 'pct_maxHR',
 'cal_balance',
 'lean_mass_kg',
 'expected_burn',
 'Burns Calories (per 30 min)_bc',
 'Burns_Calories_Bin',
 'bmi_indicator',
 'age_group']

In [58]:
# meal_type and Calories
# diet_type and Calories
# Target Muscle Group and Session Duration (hour)
# Fat Percentage and Water_Intake (liters)
# Difficulty Level and Workout Duration

In [62]:
meal_calories = df.groupby('meal_type')['Calories'].mean().to_frame().reset_index()

In [64]:
meal_calories.sort_values(by='Calories', ascending=False)

   meal_type     Calories
3      Snack  2030.550091
1     Dinner  2030.272002
2      Lunch  2021.396275
0  Breakfast  2015.484240

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 56 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             20000 non-null  float64
 1   Gender                          20000 non-null  object
 2   Weight (kg)                     20000 non-null  float64
 3   Height (m)                      20000 non-null  float64
 4   Max_BPM                         20000 non-null  float64
 5   Avg_BPM                         20000 non-null  float64
 6   Resting_BPM                     20000 non-null  float64
 7   Session_Duration (hours)        20000 non-null  float64
 8   Calories_Burned                 20000 non-null  float64
 9   Workout_Type                    20000 non-null  object
 10  Fat_Percentage                  20000 non-null  float64
 11  Water_Intake (liters)           20000 non-null  float64
 12  Workout_Frequency (days/week)   20000 non-null  float64
 13  Experience_Level                20000 non-null  float64
 14  BMI                             20000 non-null  float64
 15  Daily meals frequency           20000 non-null  float64
 16  Physical exercise               20000 non-null  float64
 17  Carbs                           20000 non-null  float64
 18  Proteins                        20000 non-null  float64
 19  Fats                            20000 non-null  float64
 20  Calories                        20000 non-null  float64
 21  meal_name                       20000 non-null  object
 22  meal_type                       20000 non-null  object
 23  diet_type                       20000 non-null  object
 24  sugar_g                         20000 non-null  float64
 25  sodium_mg                       20000 non-null  float64
 26  cholesterol_mg                  20000 non-null  float64
 27  serving_size_g                  20000 non-null  float64
 28  cooking_method                  20000 non-null  object
 29  prep_time_min                   20000 non-null  float64
 30  cook_time_min                   20000 non-null  float64
 31  rating                          20000 non-null  float64
 32  Name of Exercise                20000 non-null  object
 33  Sets                            20000 non-null  float64
 34  Reps                            20000 non-null  float64
 35  Benefit                         20000 non-null  object
 36  Burns Calories (per 30 min)     20000 non-null  float64
 37  Target Muscle Group             20000 non-null  object
 38  Equipment Needed                20000 non-null  object
 39  Difficulty Level                20000 non-null  object
 40  Body Part                       20000 non-null  object
 41  Type of Muscle                  20000 non-null  object
 42  Workout                         20000 non-null  object
 43  BMI_calc                        20000 non-null  float64
 44  cal_from_macros                 20000 non-null  float64
 45  pct_carbs                       20000 non-null  float64
 46  protein_per_kg                  20000 non-null  float64
 47  pct_HRR                         20000 non-null  float64
 48  pct_maxHR                       20000 non-null  float64
 49  cal_balance                     20000 non-null  float64
 50  lean_mass_kg                    20000 non-null  float64
 51  expected_burn                   20000 non-null  float64
 52  Burns Calories (per 30 min)_bc  20000 non-null  float64
 53  Burns_Calories_Bin              20000 non-null  object
 54  bmi_indicator                   20000 non-null  object
 55  age_group                       20000 non-null  object
dtypes: float64(39), object(17)
memory usage: 8.5+ MB