In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Melbourne_housing_FULL.csv")

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
df.shape

(34857, 21)

In [5]:
df.columns.to_list()

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [6]:
df.count()

Suburb           34857
Address          34857
Rooms            34857
Type             34857
Price            27247
Method           34857
SellerG          34857
Date             34857
Distance         34856
Postcode         34856
Bedroom2         26640
Bathroom         26631
Car              26129
Landsize         23047
BuildingArea     13742
YearBuilt        15551
CouncilArea      34854
Lattitude        26881
Longtitude       26881
Regionname       34854
Propertycount    34854
dtype: int64

In [7]:
df.describe().round(2)

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.00,27247.00,34856.00,34856.00,26640.00,26631.00,26129.00,23047.00,13742.00,15551.00,26881.00,26881.00,34854.00
mean,3.03,1050173.34,11.18,3116.06,3.08,1.62,1.73,593.60,160.26,1965.29,-37.81,145.00,7572.89
std,0.97,641467.13,6.79,109.02,0.98,0.72,1.01,3398.84,401.27,37.33,0.09,0.12,4428.09
min,1.00,85000.00,0.00,3000.00,0.00,0.00,0.00,0.00,0.00,1196.00,-38.19,144.42,83.00
25%,2.00,635000.00,6.40,3051.00,2.00,1.00,1.00,224.00,102.00,1940.00,-37.86,144.93,4385.00
50%,3.00,870000.00,10.30,3103.00,3.00,2.00,2.00,521.00,136.00,1970.00,-37.81,145.01,6763.00
75%,4.00,1295000.00,14.00,3156.00,4.00,2.00,2.00,670.00,188.00,2000.00,-37.75,145.07,10412.00
max,16.00,11200000.00,48.10,3978.00,30.00,12.00,26.00,433014.00,44515.00,2106.00,-37.39,145.53,21650.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [9]:
# Univariate Analysis
# Taking a single variable and performing analysis on that variable

In [10]:
df['Suburb'].unique()

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Altona Meadows', 'Ardeer', 'Attwood', 'Bayswater',
       'Bayswater North', 'Beaumaris', 'Berwick', 'Blackburn',
       'Blackburn South', 'Boronia', 'Briar Hill', 'Broadmeadows',
       'Bundoora', 'Burnside Heights', 'Burwood East', 'Cairnlea',
       'Caroline Springs', 'Cheltenham', 'Clarinda', 'Clayton',
       'Clyde North', 'Craigieburn', 'Cranbourne', 'Croydon',
       'Croydon Hills', 'Croydon North', 'Dandenong', 'Dandenong North',
       'Diamond Creek', 'Dingley Village', 'Doncaster East', 'Donvale',
       'Doreen', 'Edithvale', 'Eltham', 'Eltham North', 'Emerald',
       'Epping', 'Eumemmerring', 'Ferntree Gully', 'Forest Hill',
       'Frankston', 'Frankston North', 'Frankston South', 'Gisborne',
       'Gladstone Park', 'Glen Waverley', 'Greensborough', 'Greenvale',
       'Hallam', 'Healesville', 'Heathmont', 'Highett', 'Hillside',
       'Hoppers Crossing', 'Huntingdale', 'Keilor Downs', 'Keilor Lodge',
       'Keysborough', 'Kings Park', 'Lalor', 'Lower Plenty', 'Lynbrook',
       'MacLeod', 'Melton', 'Melton South', 'Melton West', 'Mentone',
       'Mernda', 'Mickleham', 'Mill Park', 'Mitcham', 'Montmorency',
       'Montrose', 'Mordialloc', 'Mount Waverley', 'Mulgrave',
       'Narre Warren', 'Noble Park', 'Nunawading', 'Oakleigh East',
       'Parkdale', 'Point Cook', 'Ringwood', 'Ringwood East', 'Rockbank',
       'Rowville', 'Roxburgh Park', 'Sandringham', 'Seabrook', 'Seaford',
       'Skye', 'South Morang', 'Springvale', 'Springvale South',
       'St Albans', 'St Helena', 'Sunbury', 'Sydenham', 'Tarneit',
       'Taylors Hill', 'Taylors Lakes', 'Tecoma', 'Templestowe',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Vermont South', 'Wantirna', 'Wantirna South', 'Werribee',
       'Werribee South', 'Westmeadows', 'Williams Landing', 'Wollert',
       'Wyndham Vale', 'Aspendale', 'Black Rock', 'Blackburn North',
       'Bonbeach', 'Carrum', 'Chelsea', 'Clayton South', 'Dallas',
       'Delahey', 'Doveton', 'McKinnon', 'Mooroolbark', 'Pakenham',
       'Ringwood North', 'Scoresby', 'Warrandyte', 'Watsonia North',
       'Wattle Glen', 'Wheelers Hill', 'Albanvale', 'Aspendale Gardens',
       'Belgrave', 'Carrum Downs', 'Cranbourne East', 'Cranbourne North',
       'Deer Park', 'Heatherton', 'Kilsyth', 'Langwarrin', 'Notting Hill',
       'Patterson Lakes', 'Riddells Creek', 'Beaconsfield Upper',
       'Chelsea Heights', 'Chirnside Park', 'Coolaroo', 'Darley',
       'Hampton Park', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Sandhurst', 'Silvan', 'Wallan',
       'Croydon South', 'Derrimut', 'Diggers Rest', 'Knoxfield', 'Upwey',
       'Warranwood', 'Bacchus Marsh', 'Bullengarook', 'Deepdene',
       'Hurstbridge', 'Kurunjang', 'Laverton', 'Lilydale', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Olinda', 'Waterways',
       'Beaconsfield', 'Yarra Glen', 'Brookfield', 'Lysterfield',
       'Plenty', 'Whittlesea', 'Burnside', 'New Gisborne', 'Guys Hill',
       'Plumpton', 'croydon', 'Monbulk', 'Avonsleigh', 'Wildwood',
       'Gisborne South', 'Research', 'viewbank', 'Botanic Ridge', 'Bulla',
       'Coldstream', 'Hopetoun Park', 'Cranbourne West', 'Eynesbury',
       'Fawkner Lot', 'Ferny Creek', 'Wandin North', 'Kalkallo',
       'Menzies Creek'], dtype=object)

In [11]:
df['Address'].unique()

array(['68 Studley St', '85 Turner St', '25 Bloomburg St', ...,
       '147A Severn St', '12/37 Stephen St', '3 Tarrengower St'],
      dtype=object)

In [12]:
df['Suburb'].value_counts()

Suburb
Reservoir          844
Bentleigh East     583
Richmond           552
Glen Iris          491
Preston            485
                  ...
Belgrave             1
Cranbourne East      1
Yarra Glen           1
Olinda               1
Menzies Creek        1
Name: count, Length: 351, dtype: int64

In [13]:
df['Address'].value_counts()

Address
5 Charles St        6
25 William St       4
57 Bay Rd           3
5 Margaret St       3
16 Smith St         3
                   ..
17 Fraser St        1
11a Bewdley St      1
6/13 Ulupna Rd      1
428 North Rd        1
3 Tarrengower St    1
Name: count, Length: 34009, dtype: int64

In [14]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [15]:
# Seller, Council Area, Region Name
df['SellerG'].unique()

array(['Jellis', 'Biggin', 'Rounds', 'Nelson', 'Collins', 'Dingle',
       'Purplebricks', 'Greg', 'Philip', 'LITTLE', 'Kay', 'Beller',
       'Marshall', 'hockingstuart', 'Brad', 'Maddison', 'Barry',
       'Airport', 'Considine', 'Rendina', 'Ray', 'Propertyau', 'McDonald',
       'Frank', 'Prof.', 'Harcourts', 'Thomson', 'Buxton', 'RT',
       "Sotheby's", 'Cayzer', 'Chisholm', 'McGrath', 'Brace', 'Miles',
       'Holland', 'Love', 'Thomas', 'Barlow', 'Sweeney', 'Village', 'Jas',
       'Williams', 'Gunn&Co', 'Burnham', 'Point', 'Compton', 'FN',
       'Hunter', 'Raine&Horne', 'Noel', 'Hodges', 'Gary', 'Fletchers',
       'Woodards', 'Raine', 'Alexkarbon', 'Walshe', 'Weda', 'Stockdale',
       'Tim', 'Buxton/Marshall', 'AIME', 'Moonee', 'HAR', 'Edward', 'RW',
       'North', 'MICM', 'Ascend', 'Christopher', 'Morrison', 'Bekdon',
       'Mandy', 'R&H', 'Fletchers/One', 'Lindellas', 'Appleby', 'Assisi',
       'One', 'Owen', 'Parkes', 'C21', 'Century', "O'Brien", 'Bayside',
       'Anderson', 'Paul', 'hockingstuart/Buxton', 'Smart', 'First',
       'Matthew', 'Melbourne', 'Nick', 'Allens', 'Bells', 'Nguyen',
       'Trimson', 'Douglas', 'Batty', 'GL', 'YPA', "Tiernan's", 'J',
       'Castran', 'Branon', 'Rodney', 'Joseph', 'Harrington', 'Galldon',
       'Grantham', 'Chambers', 'Pagan', 'Peter',
       'hockingstuart/Advantage', 'Ross', 'Rayner', 'Garvey',
       "O'Donoghues", 'Hamilton', 'Weast', 'Kelly', 'Property',
       "Private/Tiernan's", 'Australian', 'Bustin', "Abercromby's",
       'Whiting', 'iTRAK', 'Del', 'Caine', 'Nicholson', 'JMRE', 'ASL',
       'Changing', 'Re', 'RE', 'Walsh', 'Foxtons', 'Ham', 'Darren', 'Vic',
       'Haughton', 'Scott', 'Pride', 'Morleys', 'Wilson',
       'Buxton/Advantage', 'Professionals', 'Joe', 'Red',
       'hockingstuart/Jellis', 'Craig', 'Naison', 'Sweeney/Advantage',
       'Reach', 'Domain', 'Eview', 'Jason', "D'Aprano", 'Charlton',
       'CASTRAN', 'Wood', 'William', 'Coventry', 'Buckingham', 'Nardella',
       'Karen', 'LJ', 'Shape', 'Direct', 'Fletchers/Fletchers', 'Besser',
       'Johnston', 'Avion', 'Redina', 'Clairmont', 'Lucas', 'Dixon',
       'Xynergy', 'Elite', 'Buxton/Find', 'W.B.', 'Leased',
       'Harcourts/Barry', 'Win', 'Collings', 'New', 'Parkinson', 'Geoff',
       'hockingstuart/Barry', 'Blue', 'MSM', 'Steveway',
       'hockingstuart/Village', 'VICPROP', 'Inner', 'Meadows', 'Allan',
       'S&L', 'Crane', 'Calder', 'Metro', 'Homes', 'Zahn', 'Mason',
       'Landfield', 'David', 'Luxe', 'Prowse', 'Ken', 'Rombotis', 'iOne',
       'hockingstuart/Sweeney', 'Iconek', 'Luxton', 'Hooper', 'JRW',
       'Oak', 'White', 'Jim', 'Weston', '@Realty', 'Reed', 'Oriental',
       'Max', 'Steller', 'Rosin', 'Real', 'Jeffrey', 'Hall', 'Icon',
       'buyMyplace', 'WHITEFOX', 'Christou', 'Marvelli', "Grant's",
       'Hoskins', 'Gardiner', 'McLennan', 'Triwest', 'Reliance',
       'PRDNationwide', 'Only', 'Leyton', 'iSell', 'Obrien', 'Maitland',
       'Millership', 'L', 'Emerson', 'Follett', 'Ash', 'LLC', 'Ace',
       'Flannagan', 'Carter', 'WeSell', 'M.J', 'iProperty',
       'Hayeswinckle', 'Schroeder', 'iHomes', 'VICProp', 'REMAX', 'Space',
       'Victory', 'Aumeca', 'Mindacom', 'Ryder', 'Sanctuary', 'Leeburn',
       'Asset', 'Westside', 'Sell', 'Mitchell', 'Darras', 'U', 'Nicholas',
       'Rexhepi', 'Keatings', 'Aquire', 'Conquest', 'Prime', 'Donovan',
       'Community', 'Free', 'Veitch', 'John', 'Peake', 'Ristic', 'JY',
       'Upper', 'Daniel', 'VicHomes', 'TRUE', 'McNaughton', 'Leading',
       'Bullen', 'Better', 'Boutique', 'Royston', 'Langwell', 'Silver',
       'Wyndham', 'Kaye', 'Nicholls', 'Bowman', 'Just', 'Home', 'Le',
       'Cooper', 'Black', 'The', 'Open', 'Roger', 'McEwing', 'Sandhurst',
       'Boran', 'hockingstuart/hockingstuart', 'Area', 'MJ', 'Eric', 'SN',
       'Waterfront', 'P', 'PRD', 'Bombay', 'Quinta', 'T', 'Tanner', 'LJH',
       'Munn', 'Knight', 'Justin', 'Blackbird', 'Sweeney/Burnham', 'H',
       'Alex', 'Can', 'Pavilion', 'Benchmark', 'Gellibrand',
       'hockingstuart/Harcourts', 'Charter', 'Surreal', 'Vicprop', 'A',
       'Upside', 'OBrien', 'Meallin', 'Malvern', 'Mark', 'Bradly', 'For',
       'Peninsula', 'Sutherland', 'Leaders', 'Spencer',
       'McGrath/Langwell', 'Benlor', 'Burns', 'Sterling', 'K.R.Peters',
       'Buxton/Buxton', 'CarlinSmith', 'Gold', 'Hill', 'People',
       'hockingstuart/Biggin', 'Mega', 'Skad', 'Ruralco', 'Create',
       'Janice', 'R', 'G&H', 'Commercial', 'PSP', 'hockingstuart/Cayzer',
       'Unity', 'Sprint', 'McGrath/Buxton', 'hockingstuart/Marshall',
       'McGrath/First', 'voglwalpole', 'Watermark', 'Methven'],
      dtype=object)

In [16]:
df['CouncilArea'].unique()

array(['Yarra City Council', 'Moonee Valley City Council',
       'Port Phillip City Council', 'Darebin City Council',
       'Hobsons Bay City Council', 'Stonnington City Council',
       'Boroondara City Council', 'Monash City Council',
       'Glen Eira City Council', 'Whitehorse City Council',
       'Maribyrnong City Council', 'Bayside City Council',
       'Moreland City Council', 'Manningham City Council',
       'Melbourne City Council', 'Banyule City Council',
       'Brimbank City Council', 'Kingston City Council',
       'Hume City Council', 'Knox City Council', 'Maroondah City Council',
       'Casey City Council', 'Melton City Council',
       'Greater Dandenong City Council', 'Nillumbik Shire Council',
       'Cardinia Shire Council', 'Whittlesea City Council',
       'Frankston City Council', 'Macedon Ranges Shire Council',
       'Yarra Ranges Shire Council', 'Wyndham City Council',
       'Moorabool Shire Council', 'Mitchell Shire Council', nan],
      dtype=object)

In [17]:
df['CouncilArea'].value_counts()

CouncilArea
Boroondara City Council           3675
Darebin City Council              2851
Moreland City Council             2122
Glen Eira City Council            2006
Melbourne City Council            1952
Banyule City Council              1861
Moonee Valley City Council        1791
Bayside City Council              1764
Brimbank City Council             1593
Monash City Council               1466
Stonnington City Council          1460
Maribyrnong City Council          1451
Port Phillip City Council         1280
Hume City Council                 1214
Yarra City Council                1186
Manningham City Council           1046
Hobsons Bay City Council           942
Kingston City Council              871
Whittlesea City Council            828
Wyndham City Council               624
Whitehorse City Council            618
Maroondah City Council             506
Knox City Council                  371
Greater Dandenong City Council     314
Melton City Council                292
Frankston City Council             290
Casey City Council                 176
Yarra Ranges Shire Council         102
Nillumbik Shire Council             88
Macedon Ranges Shire Council        46
Cardinia Shire Council              41
Mitchell Shire Council              20
Moorabool Shire Council              7
Name: count, dtype: int64

In [18]:
df['Regionname'].value_counts()

Regionname
Southern Metropolitan         11836
Northern Metropolitan          9557
Western Metropolitan           6799
Eastern Metropolitan           4377
South-Eastern Metropolitan     1739
Eastern Victoria                228
Northern Victoria               203
Western Victoria                115
Name: count, dtype: int64

In [19]:
df['YearBuilt'].value_counts()

YearBuilt
1970.0    1490
1960.0    1260
1950.0    1089
1980.0     726
1900.0     606
          ...
1830.0       1
2106.0       1
1897.0       1
1876.0       1
1879.0       1
Name: count, Length: 160, dtype: int64

In [20]:
year_filter = df['YearBuilt'] > 2025.0

In [21]:
df[year_filter]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2453,Bulleen,3 Maringa St,4,h,NaN,SP,Ray,7/11/2016,11.8,3105.0,...,2.0,2.0,729.0,255.0,2106.0,Manningham City Council,-37.7637,145.0881,Eastern Metropolitan,4480.0

In [22]:
df['Postcode'].value_counts()

Postcode
3073.0    844
3046.0    638
3020.0    617
3121.0    612
3165.0    583
         ...
3428.0      1
3770.0      1
3786.0      1
3139.0      1
3159.0      1
Name: count, Length: 211, dtype: int64

In [23]:
df['Car'].value_counts().to_frame().reset_index()

     Car  count
0    2.0  12214
1    1.0   9164
2    0.0   1631
3    3.0   1606
4    4.0   1161
5    5.0    151
6    6.0    140
7    7.0     25
8    8.0     23
9   10.0      6
10   9.0      3
11  11.0      2
12  26.0      1
13  18.0      1
14  12.0      1

**Method**: <br/>
S - property sold <br/>
SP - property sold prior <br/>
PI - property passed in <br/>
PN - sold prior not disclosed <br/>
SN - sold not disclosed <br/>
NB - no bid <br/>
VB - vendor bid <br/>
W - withdrawn prior to auction <br/>
SA - sold after auction <br/>
SS - sold after auction price not disclosed. <br/>
N/A - price or highest bid not available. <br/>

In [24]:
df['Method'].value_counts().to_frame().reset_index()

  Method  count
0      S  19744
1     SP   5095
2     PI   4850
3     VB   3108
4     SN   1317
5     PN    308
6     SA    226
7      W    173
8     SS     36

**Type**: 

br - bedroom(s)

h - house,cottage,villa,semi,terrace 

u - unit, duplex

t - townhouse

dev site - development site

o res - other residential

In [25]:
df['Type'].value_counts().reset_index()

  Type  count
0    h  23980
1    u   7297
2    t   3580

In [26]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB