In [1]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/ssharma/Desktop/data_science_morning/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [26]:
df.head()

   S.N.     Name     Address  Age
0     1   Sharad   Kathmandu   50
1     2   Kushal  Biratnagar   65
2     3  Archita   Bharatpur   34
3     4    Sakar    Lalitpur   54

In [7]:
# Check the columns of dataframe
df.columns

Index(['S.N.', 'Name', 'Address', 'Age'], dtype='object')

In [8]:
# Get the columns of dataframe in a list
df.columns.to_list()

['S.N.', 'Name', 'Address', 'Age']

In [9]:
# Get the information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.N.     4 non-null      int64
 1   Name     4 non-null      object
 2   Address  4 non-null      object
 3   Age      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [10]:
df.size

16

In [11]:
df.shape

(4, 4)

In [12]:
df.count()

S.N.       4
Name       4
Address    4
Age        4
dtype: int64

In [13]:
df.value_counts()

S.N.  Name     Address     Age
1     Sharad   Kathmandu   50     1
2     Kushal   Biratnagar  65     1
3     Archita  Bharatpur   34     1
4     Sakar    Lalitpur    54     1
Name: count, dtype: int64

In [24]:
df.describe().round(1)

       S.N.   Age
count   4.0   4.0
mean    2.5  50.8
std     1.3  12.8
min     1.0  34.0
25%     1.8  46.0
50%     2.5  52.0
75%     3.2  56.8
max     4.0  65.0