In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("housing.csv")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.shape

(20640, 10)

In [5]:
df.columns.to_list()

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [7]:
# Single Bracket
df['ocean_proximity']

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [8]:
# Multiple Brackets
df[['ocean_proximity']]

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [18]:
df[['ocean_proximity', 'median_house_value']].head(6)

  ocean_proximity  median_house_value
0        NEAR BAY            452600.0
1        NEAR BAY            358500.0
2        NEAR BAY            352100.0
3        NEAR BAY            341300.0
4        NEAR BAY            342200.0
5        NEAR BAY            269700.0

In [14]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [17]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [19]:
df['housing_median_age'].min()

np.float64(1.0)

In [20]:
df['housing_median_age'].max()

np.float64(52.0)

In [22]:
df['housing_median_age'].mean()

np.float64(28.639486434108527)

In [26]:
df['housing_median_age'].median()

np.float64(29.0)

In [33]:
df[['total_bedrooms', 'total_rooms', 'median_income']].agg(['mean', 'median', 'min', 'max']).round(2)

        total_bedrooms  total_rooms  median_income
mean            537.87      2635.76           3.87
median          435.00      2127.00           3.53
min               1.00         2.00           0.50
max            6445.00     39320.00          15.00

In [34]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [36]:
df[['housing_median_age', 
    'total_rooms', 
    'total_bedrooms', 
    'population', 
    'households', 
    'median_income',
    'median_house_value'
   ]].agg(['mean', 'median', 'min', 'max']).round(2)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
mean,28.64,2635.76,537.87,1425.48,499.54,3.87,206855.82
median,29.00,2127.00,435.00,1166.00,409.00,3.53,179700.00
min,1.00,2.00,1.00,3.00,1.00,0.50,14999.00
max,52.00,39320.00,6445.00,35682.00,6082.00,15.00,500001.00